<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            width:10px; height:10px;
            background: black;
        }
    </style>
</head>
<body>
    <script src="../js/load1.js" defer></script>
    <script src="../js/load2.js" defer></script>
    <script src="../js/load3.js" defer></script>
    <h1>!!!!!!!!!!!!!!!!!!</h1>
</body>
<script src="../js/import.js" type="module"></script>
</html>